apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - ../../base

# ArgoCD uses emptyDir by default for repo-server
# Optionally, you can add persistent storage for Redis
# See examples/redis-persistent.yaml
