apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: argocd

resources:
  - ../../base

# ArgoCD uses emptyDir by default for repo-server
# No PVC patches needed for local-path
